<div class="pure-u-1-2 post">
  <%= link_to "/#{diy.id}" do %>
    <span class="home__post">
      <div class = "squareImage">
        <img src=<%= diy.image %> alt=<%= diy.name + "ã®" + diy.title %> class = "home__post__image">
      </div>
      <div class = "home__post__title">
        <%= diy.title  %>
      </div>
      <div class="post__list__station">
          <i class="fa fa-map-marker" aria-hidden="true" id = "red"></i><%= diy.station %>
        </div>
    </span>
  <%end%>
</div>