<div class="top__image">
  <img src="/lapan__top__image.png" alt="" class="top__image__lapan">
        <%= search_form_for(@q, url: '/search/product', method: :get, html: {class: 'allow_submit'}) do |f| %>
          <%= f.search_field :title_or_station_or_area_or_name_or_prefecture_or_title1_cont ,placeholder: "お店・駅を探す" ,:class => "search__form"%>
          <%= f.submit :class => "a"%>
        <% end %>
</div>
<div id="content" class="pure-g">
  <div class="pure-u-md-1-8">
  </div>
  <div id="mainContent" class= "pure-u-1 pure-u-md-1-2">
    <div>
      <p class="mainBorder">今日のおすすめ</p>
      <div class=""><%= render :partial => "diy" , :collection => @ranking %></div>
      <div class="more">
        <a href="/posts/newposts" title="" class="more">>もっと見る</a>
      </div>
    </div>
    <!-- <div>
      <p class="mainBorder">新着情報</p>
      <div class="home__post__border"></div>
        <div class="pure-g"><%= render :partial => "diy" , :collection => @posts %></div>
      <div>
        <%= paginate(@posts) %>
      </div>
    </div> -->
  </div>
  <div id="subContent" class="pure-u-1 pure-u-md-1-4">
    <div class = "subContent__category">
      <p class="subBorder">人気のスイーツ</p>
        <div class="make_border_blue"></div>
        <div class="pure-g category__list">
        <div class="pure-u-1-3 category"><div class="category__background"><a href="http://localhost:3000/tag/search?name=かき氷" title="かき氷" class="category__image"><img src="かき氷.png" alt="かき氷" class="category__image__image"><div class="">かき氷</div></a></div></div>
          <div class="pure-u-1-3 category"><div class="category__background"><a href="http://localhost:3000/tag/search?name=パンケーキ" title="パンケーキ" class="category__image"><img src="かき氷.png" alt="パンケーキ" class="category__image__image"><div>パンケーキ</div></a></div></div>
          <div class="pure-u-1-3 category"><div class="category__background"><a href="http://localhost:3000/tag/search?name=ケーキ" title="ケーキ" class="category__image"><img src="かき氷.png" alt="ケーキ" class="category__image__image"><div>ケーキ</div></a></div></div>
          <div class="pure-u-1-3 category"><div class="category__background"><a href="http://localhost:3000/tag/search?name=ジェラート" title="ジェラート" class="category__image"><img src="かき氷.png" alt="ジェラート" class="category__image__image"><div>ジェラート</div></a></div></div>
          <div class="pure-u-1-3 category"><div class="category__background"><a href="http://localhost:3000/tag/search?name=アイス" title="アイス" class="category__image"><img src="かき氷.png" alt="アイス" class="category__image__image"><div>アイス</div></a></div></div>
          <div class="pure-u-1-3 category"><div class="category__background"><a href="http://localhost:3000/tag/search?name=パン" title="パン" class="category__image"><img src="かき氷.png" alt="ハンバーガー" class="category__image__image"><div>パン</div></a></div></div>
          <div class="pure-u-1-3 category"><div class="category__background"><a href="http://localhost:3000/tag/search?name=カップケーキ" title="カップケーキ" class="category__image"><img src="かき氷.png" alt="カップケーキ" class="category__image__image"><div>カップケーキ</div></a></div></div>
          <div class="pure-u-1-3 category"><div class="category__background"><a href="http://localhost:3000/tag/search?name=ドーナツ" title="ドーナツ" class="category__image"><img src="かき氷.png" alt="ドーナツ" class="category__image__image"><div>ドーナツ</div></a></div></div>
          <div class="pure-u-1-3 category"><div class="category__background"><a href="http://localhost:3000/tag/search?name=パフェ" title="パフェ" class="category__image"><img src="かき氷.png" alt="パフェ" class="category__image__image"><div>パフェ</div></a></div></div>
          <div class="pure-u-1-3 category"><div class="category__background"><a href="http://localhost:3000/tag/search?name=シュークリーム" title="シュークリーム" class="category__image"><img src="かき氷.png" alt="シュークリーム" class="category__image__image"><div>シュークリーム</div></a></div></div>
      </div>
    </div>
    <div>
      <p class="subBorder">特集</p>
      <div class="home__post__border"></div>
      <div>
        <%= render 'posts/topic' %>
      </div>
    </div>
    <!-- <div>
      <p class="subBorder">ピックアップ</p>
      <div class="make_border_2"></div>
      <div> 
      </div>
      <div class="more">
        <a href="" title="" class="more">>もっと見る</a>
      </div>
    </div>
  </div> -->
  <div>
    広告
  </div>
  <div class="pure-u-md-1-8" >
    
  </div>
</div>


