<div class="contents row" id="form">
<%= form_for(@diy, :url => {:controller => :posts,:action => :create }) do |f| %>
  <div class="field">
    <%= f.label :title, "title" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text, "subtitle" %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :iamge, "image" %><br>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :contents, "contents" %><br>
    <%= f.text_field :contents %>
  </div>
  <div class="field">
    <%= f.label :tag_list, "スキル・特技（カンマ区切り）" %><br>
    <%= text_field_tag 'diy[tag_list]', @diy.tag_list.join(","), class: "form-control" %>
  </div>
  <div class="field">
  <%= f.label :video %><br>
  <%= f.file_field :video %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>