
<div class="main-content">
  <div class="row">
    <div class="pure-u-md-1-8">
    </div>
    <div class="pure-u-md-2-3">
      <ul>
        <li><a href="/">トップページ</a> &gt;</li>
        <li><% @post.category_list.each do |tag| %>
              <span class="label label-primary"><%= link_to tag, { :action => :tag, :name => tag}%></span>
              <% end %> &gt;</li>
        <!-- <li><% @post.tag_list.each do |tag| %>
            <span class="label label-primary"><%= link_to tag, { :action => :tag, :name => tag}%></span>
            <% end %> &gt;</li> -->
        <li><%= @post.title %></li>
      </ul>
    </div>
    <div class="pure-u-md-1-8">
    </div>
    <div class="content-area">
      <div class="pure-g">
      <div class="pure-u-md-1-8"></div>
      <div class = "video-wrap pure-u-md-3-8">
        <video autobuffer preload class ="post__video" id="video">
          <source src=<%= @post.movie2 %> media="" type="video/webm">
          <source src=<%= @post.movie %> media="" type="video/mp4">
        </video>
        <div class="video-btn" id="video-btn"></div>
        <div id="video-controls">
        <button type="button" id="play-pause"><i class="icono-play" id = "play"></i></button>
        <input type="range" class="input-range" id="seek-bar" value="0">
        <button type="button" id="mute"><i class="icono-volumeMute" id ="volume"></i></button>
        </div>
      </div>
      <div class="pure-u-md-3-8 share">
      <div class = "mainText">
            <h3 class="u-pl-40 discription" ><%= simple_format(@post.title) %></h3>
          </div>
        
          <div class = "subText">
            <h2 class="title"><span class="border__left"></span><%= @post.name %></h2>
          </div>
          
            <div class="post__access"><i class="fa fa-map-marker" aria-hidden="true" id = "blue"></i><span class="access"><%= @post.access %></span></div>
          </div>
        </div>
      </div>
    </div><!--/.content-area--><!--/.content-area-->
  </div>
  <div class="pure-g maincontents">
    <div class="pure-u-md-1-8"></div>
    <div class="pure-u-md-1-2 pure-u-1">
      <div class="border__bottom store"></span>お店の情報</div>
        <div class="post__address">
          <i class="fa fa-map-marker" aria-hidden="true" id = "red"></i><span class="access"><%= @post.address %></span>
          <div class="map">
            <style type="text/css">
    #map { height: 200px;
   margin-left:auto;    /* 左側マージンを自動的に空ける */
   margin-right:auto;   /* 右側マージンを自動的に空ける */
   text-align:left;     /* 中身を左側表示に戻す */
   width: 100%;}
  </style>
  <div id="map"></div>
  <script type="text/javascript">
function initMap() {

  var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: test
  });
  var transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  var contentString = '住所：<%= @post.address %>';
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
    position:test,
    map: map,
    title: contentString
  });

  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
}
 </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7nosNb8FHS_-EFksc1G0EUjvaDP-ikaw&callback=initMap"
  type="text/javascript"></script>

          </div>
        </div>
        <div class="post__store__border__bottom">
          営業時間：<%= (@post.open) %>
        </div>
        <div class="post__store__border__bottom">
          定休日：<%= (@post.close) %>
        </div>
        <div class="u-pl-40">
          <div class="tabelog"><a href= <%=(@post.tabelog)%>>
              <span class= "line__text" >食べログ</span>
            </a></div>
            <div class="instagram"><a href=<%=(@post.instagram)%> >
              <span class= "line__text" >Instaスポット</span>
            </a></div>
          </div>
          <div>
            <div class="u-pl-40 u-pt-30">シェアする</div>
          <div class="u-pl-40">
            <div class="line"><a href= <%="http://line.me/R/msg/text/?http://lapan.tv/" + (@post.id).to_s %>>
              <span class= "line__text" >LINE</span>
            </a></div>
            <div class="twitter"><a href=<%="https://twitter.com/intent/tweet?url=http://lapan.tv/" + (@post.id).to_s + "&text=" + (@post.title) + "&via=lapan_tv&hashtags=&related=lapan_tv"%> title=""><span class= "line__text" >twitter</span></a></div>
              <div class="facebook"><a href=<%="http://www.facebook.com/share.php?u=http://lapan.tv/" + (@post.id).to_s %> title=""><span class= "line__text" >Facebook</span></a></div>
              <div class="link" id="copyButton"><a  class=""><span class= "link__text" >linkをコピー</span></a></div>
              <div class ="b" id="yourCode"><%= "http://lapan.tv/" + (@post.id).to_s %></div>
        </div>
      </div>
    <!-- <p class="menu">メニュー</p>
      <div class="pure-g">
        <div class="pure-u-md-1-2">
          <img src=<%= @post.image1 %> class = "image" alt = <%= @post.name + "の" + @post.title1 %>>
        </div>
        <div class="pure-u-md-1-2">
            <div class="title">
            <%= simple_format(@post.title1) %>
          </div>
          <% if @post.title1 == nil || @post.title1 == "" then %>
          <%else%>
            <div class="make_border"></div>
          <% end %>
          <div>
            <%= simple_format(@post.contents1) %>
          </div>
        </div>
        <% if @post.title2 == nil || @post.title2 == "" then %>
      <%else%>
      <div class="pure-u-md-1-2">
        <img src=<%= @post.image2 %> class ="image" alt = <%= @post.name + "の" + @post.title2 %>>
      </div>
      <div class="pure-u-md-1-2">
        <div class="title">
        <%= simple_format(@post.title2) %>
      </div>
        <div class="make_border"></div>
      <div>
        <%= simple_format(@post.contents2) %>
      </div>
      </div>
      <% end %>
      <% if @post.title3 == nil || @post.title3 == "" then %>
      <%else%>
      <div class="pure-u-md-1-2">
          <img src=<%= @post.image3 %> class = "image" alt = <%= @post.name + "の" + @post.title3 %> >
        </div>
        <div class="pure-u-md-1-2">
            <div class="title">
            <%= simple_format(@post.title3) %>
          </div>
            <div class="make_border"></div>
          <div>
            <%= simple_format(@post.contents3) %>
          </div>
        </div>
        <% end %>
        <% if @post.title4 == nil || @post.title4 == "" then %>
          <%else%>
      <div class="pure-u-md-1-2">
          <img src=<%= @post.image4 %> class = "image" alt = <%= @post.name + "の" + @post.title4 %>>
        </div>
        <div class="pure-u-md-1-2">
            <div class="title">
            <%= simple_format(@post.title4) %>
          </div>
            <div class="make_border"></div>
          <div>
            <%= simple_format(@post.contents4) %>
          </div>
        </div>
        <% end %>
        <% if @post.title5 == nil || @post.title5 == "" then %>
          <%else%>
      <div class="pure-u-md-1-2">
          <img src=<%= @post.image5 %> class = "image" alt = <%= @post.name + "の" + @post.title5 %>>
        </div>
        <div class="pure-u-md-1-2">
            <div class="title">
            <%= simple_format(@post.title5) %>
          </div>
            <div class="make_border"></div>
          <div>
            <%= simple_format(@post.contents5) %>
          </div>
        </div>
        <% end %>
    </div> -->
    <!-- <div>
      <div>
      <p class="mainBorder">新着情報</p>
      <div class="make_border_2"></div>
      <div class="">
        <%= render :partial => "diy" , :collection => @video %>
      </div>
      <div class="more">
        <a href="/posts/newposts" title="" class="more">>もっと見る</a>
      </div>
    </div>
    </div> -->
  </div>

  <div class="pure-u-md-1-4 pure-u-1">
    <div>
      <p class="mainBorder">あなたへのオススメ</p>
      <div class="make_border_2"></div>
    </div>
    <div>
      <%= render 'posts/related_posts', posts: @post.find_related_tags %>
    </div>
    <div class="more">
      <a href="/for/you" title="" class="more">>もっと見る</a>
    </div>
    <div>
      <!-- <p class="mainBorder">ピックアップ</p>
      <div class="make_border_2"></div>
      <div>
        <%= render :partial => "diy" , :collection => @ranking %>
      </div>
            <div class="more"><a href="/more/pickup" title="" class="more">>もっと見る</a></div>
    </div> -->
    <div>
      <p class="mainBorder">広告</p>
      <div class="make_border_2"></div>
    </div>
    <!-- <div>
      <p class="subBorder">特集</p>
      <div class="make_border_2"></div>
      <div>
        <%= render 'posts/topic' %>
      </div>
      <div class="more">
      <a href="/topic/all" class="more">>もっと見る</a>
      </div> 
    </div>-->
  </div>
  <div class="pure-u-md-1-8">
    
  </div>

    <script type="text/javascript">

  var button = document.getElementById('copyButton');
  button.addEventListener('click', function(){
    var yourCode = document.getElementById('yourCode');
    var range = document.createRange();
    range.selectNode(yourCode);
    window.getSelection().addRange(range);
    document.execCommand('copy');
    alert('URLをコピーしました。');
  });
    //video要素の取得
  var video = document.getElementById('video');
  //videoボタンの取得
  var video_btn = document.getElementById('video-btn');
  //状態保存
  var btn_status = 0;

  //画面クリックで再生・ポーズ
  video_btn.addEventListener('click', function () {
    if(btn_status === 0) {
      video.play();
      btn_status = 1;
      play.className = "icono-pause"
    }else {
      video.pause();
      btn_status = 0;
      play.className = "icono-play"
    }
  });

  // Buttons
  var playButton = document.getElementById("play-pause");
  var muteButton = document.getElementById("mute");
  var play = document.getElementById("play");

  // Sliders
  var seekBar = document.getElementById("seek-bar");
  var volume = document.getElementById("volume");
  var tag = document.getElementById("tag");
  video.muted = true;
  // Event listener for the play/pause button
  playButton.addEventListener("click", function() {
    if(btn_status === 0) {
      video.play();
      btn_status = 1;
      play.className = "icono-pause"
    }else {
      video.pause();
      btn_status = 0;
      play.className = "icono-play"
    }
  });

  // Event listener for the mute button
muteButton.addEventListener("click", function() {
  if (video.muted == false) {
    // Mute the video
    video.muted = true;

    // Update the button text
    volume.className = "icono-volumeMute";
  } else {
    // Unmute the video
    video.muted = false;

    // Update the button text
    volume.className = "icono-volumeHigh";
  }
});
// Event listener for the seek bar
seekBar.addEventListener("change", function() {
  // Calculate the new time
  var time = video.duration * (seekBar.value / 100);

  // Update the video time
  video.currentTime = time;
});
// Update the seek bar as the video plays
video.addEventListener("timeupdate", function() {
  // Calculate the slider value
  var value = (100 / video.duration) * video.currentTime;

  // Update the slider value
  seekBar.value = value;
});


</script>

</div>