
<div class="main-content">
  <div class="row">
    <div class="pure-u-1-8">
    </div>
    <div class="pure-u-2-3">
      <ul>
        <li><a href="/">トップページ</a> &gt;</li>
        <li><% @post.category_list.each do |tag| %>
              <span class="label label-primary"><%= link_to tag, { :action => :tag, :name => tag}%></span>
              <% end %> &gt;</li>
        <li><% @post.tag_list.each do |tag| %>
            <span class="label label-primary"><%= link_to tag, { :action => :tag, :name => tag}%></span>
            <% end %> &gt;</li>
        <li><%= @post.title %></li>
      </ul>
    </div>
    <div class="pure-u-1-8">
    </div>
    <div class="content-area">
      <div class="pure-g">
      <div class="pure-u-1-8"></div>
      <div class = "video pure-u-3-8">
        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:500px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">

          <%= link_to "", @post.video, {:target => "_brank"} %>
        </blockquote>
        <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
      </div>
      <div class="pure-u-3-8">
          <div class = "mainText">
            <h1 class="title u-pl-40" ><%= @post.title %></h1>
          </div>
          <div class = "subText u-pl-40">
            <%= simple_format(@post.text) %>
          </div>
          <div class="make_border"></div>
          <div class="u-pt-20 u-pl-40">
            <a href=<%="https://twitter.com/intent/tweet?url=http://lapan.tv/" + (@post.id).to_s + "&text=" + (@post.title) + "&via=lapan_tv&hashtags=&related=lapan_tv"%> title=""><img src="twitter.png" alt="" class="twitter"></a>
            <a href=<%="http://www.facebook.com/share.php?u=http://lapan.tv/" + (@post.id).to_s %> title=""><img src="facebook.png" alt="" class="twitter"></a>
            <a href= <%="http://line.me/R/msg/text/?http://lapan.tv/" + (@post.id).to_s %>>
              <img src="line.png" class="twitter" alt="LINEで送る" />
            </a>
            <textarea id="fe_text" name="" rows="7" cols="100"><%= "http://lapan.tv/" + (@post.id).to_s %></textarea>
            <button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button'>
            <b>コピーする</b>
            </button>
            <script>
              $(document).ready(function() {
                var clip = new ZeroClipboard($("#d_clip_button"))
              });

              $("#clear-test").on("click", function(){
                $("#fe_text").val("Copy me!");
                $("#testarea").val("");
              });
            </script>
          </div>
        </div>
      </div>
    </div><!--/.content-area--><!--/.content-area-->
  </div>
  <div class="pure-g maincontents">
    <div class="pure-u-1-8"></div>
    <div class="pure-u-1-2">
        <div>
    <table class="u-ml-40">
    <tr>
    <th> <span class="dot">・</span>店名</th>
        <td><%= simple_format(@post.name) %></td>
    </tr>
    <tr>
        <th><span class="dot">・</span>アクセス</th>
        <td><%= simple_format(@post.access)%></td>
    </tr>
    <tr>
        <th><span class="dot">・</span>営業時間</th>
        <td><%= simple_format(@post.open) %></td>
    </tr>
    <tr>
        <th><span class="dot">・</span>電話番号</th>
        <td><%= simple_format(@post.call)%></td>
    </tr>
    <tr>
        <th><span class="dot">・</span>住所</th>
        <td><%= simple_format(@post.address)%></td>
    </tr>
    <tr>
        <th><span class="dot">・</span>公式HP</th>
        <td><%= simple_format(@post.url)%></td>
    </tr>
    <tr>
        <th><span class="dot">・</span>instagram スポット</th>
        <td><%= simple_format(@post.instagram)%></td>
    </tr>
</table>
  </div>
    <p class="menu">メニュー</p>
      <div class="pure-g">
        <div class="pure-u-1-2">
          <img src=<%= @post.image1 %> class = "image">
        </div>
        <div class="pure-u-1-2">
            <div class="title">
            <%= simple_format(@post.title1) %>
          </div>
          <% if @post.title1 == nil || @post.title1 == "" then %>
          <%else%>
            <div class="make_border"></div>
          <% end %>
          <div>
            <%= simple_format(@post.contents1) %>
          </div>
        </div>
      <div class="pure-u-1-2">
        <img src=<%= @post.image2 %> class ="image">
      </div>
      <div class="pure-u-1-2">
        <div class="title">
        <%= simple_format(@post.title2) %>
      </div>
      <% if @post.title2 == nil || @post.title2 == "" then %>
      <%else%>
        <div class="make_border"></div>
      <% end %>
      <div>
        <%= simple_format(@post.contents2) %>
      </div>
      </div>
      <% if @post.title3 == nil || @post.title3 == "" then %>
      <%else%>
      <div class="pure-u-1-2">
          <img src=<%= @post.image3 %> class = "image">
        </div>
        <div class="pure-u-1-2">
            <div class="title">
            <%= simple_format(@post.title3) %>
          </div>
            <div class="make_border"></div>
          <div>
            <%= simple_format(@post.contents3) %>
          </div>
        </div>
        <% end %>
        <% if @post.title4 == nil || @post.title4 == "" then %>
          <%else%>
      <div class="pure-u-1-2">
          <img src=<%= @post.image4 %> class = "image">
        </div>
        <div class="pure-u-1-2">
            <div class="title">
            <%= simple_format(@post.title4) %>
          </div>
            <div class="make_border"></div>
          <div>
            <%= simple_format(@post.contents4) %>
          </div>
        </div>
        <% end %>
        <% if @post.title5 == nil || @post.title5 == "" then %>
          <%else%>
      <div class="pure-u-1-2">
          <img src=<%= @post.image5 %> class = "image">
        </div>
        <div class="pure-u-1-2">
            <div class="title">
            <%= simple_format(@post.title5) %>
          </div>
            <div class="make_border"></div>
          <div>
            <%= simple_format(@post.contents5) %>
          </div>
        </div>
        <% end %>
    </div>
    <div>
      <div>
      <p class="mainBorder">新着情報</p>
      <div class="make_border_2"></div>
      <div>
        <%= render :partial => "diy" , :collection => @video %>
      </div>
      <div class="more">
        <a href="/posts/newposts" title="" class="more">>もっと見る</a>
      </div>
    </div>
    </div>
  </div>

  <div class="pure-u-1-4">
    <div>
      <p class="mainBorder">あなたへのオススメ</p>
      <div class="make_border_2"></div>
    </div>
    <p>
      <%= render 'posts/related_posts', posts: @post.find_related_tags %>
    </p>
    <div class="more">
      <a href="/for/you" title="" class="more">>もっと見る</a>
    </div>
    <div>
      <p class="mainBorder">ピックアップ</p>
      <div class="make_border_2"></div>
      <p>
            </p>
            <div class="more"><a href="/more/pickup" title="" class="more">>もっと見る</a></div>
    </div>
    <div>
      <p class="mainBorder">広告</p>
      <div class="make_border_2"></div>
    </div>
    <div>
      <p class="subBorder">特集</p>
      <div class="make_border_2"></div>
      <div>
        <%= render 'posts/topic' %>
      </div>
      <div class="more">
      <a href="/topic/all" class="more">>もっと見る</a>
      </div>
    </div>
  </div>
  <div class="pure-u-1-8">
    
  </div>

</div>