<% @post.each do |post| %>
  <% if post.title == @topics.post1 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
  <% elsif post.title == @topics.post2 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post3 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post4 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post5 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post6 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post7 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post8 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post9 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post10 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post11 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post12 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post13 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post14 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post15 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post16 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post17 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post18 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post19 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>
    <% elsif post.title == @topics.post20 then %>
    <%= link_to "/#{post.id}/fashion/diy" do %>
      <span class="pure-u-1-4 child">
        <div class = "squareImage">
          <img src=<%= post.image %> alt="" class = "image">
        </div>
        <div class = "titleText">
          <%= post.title  %>
        </div>
      </span>
    <%end%>

  <%end%>

<% end %>