  <div>
    <%= form_for @inquiry, :url => '/inquiry/confirm' do |f| %>
  <div class="form__top">
    <p class="form__text">取材依頼やサービスの感想などをお待ちしております。</p>
    <h1 class="form__contact">お問い合わせ</h1>
  </div>
 
  <% if @inquiry.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @inquiry.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form__feild">
    <div>
      <%= f.text_field :name, :placeholder => "お名前",:class => "form__field form__field__name" %>
    </div>
    <div>
      <%= f.text_field :email,:placeholder => "メールアドレス" ,:class => "form__field"%>
    </div>
    <div>
      <%= f.text_field :phone,:placeholder => "電話番号",:class => "form__field" %>
    </div>
    <div>
      <%= f.text_area :message,:placeholder => "お問い合わせ内容" ,:class => "form__field form__field__message"%>
    </div>

  <%= f.submit '送信', class: 'btn' %>
  </div>
<% end %>
  </div>