<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/articel#">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lapan</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dosis:300,400,500,600,700">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="../assetsstylesheets/object/_space.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta property="og:title" content="Lapan" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://lapan.tv" />
    <meta property="og:image" content="eye.jpg" />
    <meta property="og:site_name" content="Lapan.tv"/>
    <meta property="og:description" content="Lapan"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- flowplayer depends on jQuery 1.7.1+ (for now) -->
    <script src="http://releases.flowplayer.org/js/flowplayer-3.2.13.min.js"></script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag "/javascripts/flowplayer.min.js" %>
    <script src="http://releases.flowplayer.org/js/flowplayer-3.2.13.min.js"></script>
  </body>
</html>
