<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/articel#">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4058275986803166",
      enable_page_level_ads: true
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-104984340-1', 'auto');
      ga('send', 'pageview');

    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lapan.tv【ラパン】| 女の子の毎日をおいしくかわいく♡</title>
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dosis:300,400,500,600,700">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.min.js"></script>
    <script src="http://api.html5media.info/1.1.8/html5media.min.js"></script>
    <link rel="stylesheet" href="http://icono-49d6.kxcdn.com/icono.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Lapan" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://lapan.tv" />
    <meta property="og:image" content="eye.jpg" />
    <meta property="og:site_name" content="Lapan.tv"/>
    <meta property="og:description" content="Lapan"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- flowplayer depends on jQuery 1.7.1+ (for now) -->
  </head>
  <body>
    <div id="loader-bg">
  <div id="loader">
    <img src="/lapan__load.png" width="80" height="auto" alt="Now Loading..." />
    <p class="load">Now Loading...</p>
  </div>
</div>
<div id = "wrap">
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/menubar' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(function() {
  var h = $(window).height();
 
  $('#wrap').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});
 
$(window).load(function () { //全ての読み込みが完了したら実行
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
  $('#wrap').css('display', 'block');
});
//10秒たったら強制的にロード画面を非表示
$(function(){
  setTimeout('stopload()',1000);
});

function stopload(){
  $('#wrap').css('display','block');
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
}
</script>
  </div>
  </body>

</html>
